body {
  font-size: 9px;
  letter-spacing: 0px;
  color: rgb(44,46,53);
  font-family: 'Open Sans', sans-serif;
}


.header {
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4000;
}

.conteiner  {
  width: 100%;
  max-width: 613px;
  margin: 0 auto;
}

.header1 {
  background-color: #122e60;
  width: 100%;
  height: 113px;;
}

.href_git {
  margin-top: 45px;
  padding-left: 30px;
  border-radius: 2px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;

  transition: color .2s linear;
}

.href_git:hover {
  color: yellowgreen
}

.title_in_header {
  padding-left: 30px;
  font-size: 26px;
  letter-spacing: 0px;
  color: rgb(249,251,252);
}

.text_in_header {
  padding-top: 40px;
  padding-left: 30px;
  font-size: 12px;
  letter-spacing: 0px;
  color: rgb(234,239,242);
  margin: 0;
}

.header2 {
  width: 100%;
  height: 113px;
  background-color: #0d3d89;
}


