body {
  background: #F0F0F0;
  padding: 0;
  margin: 0;
  width: 100%;

  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

div {
  box-sizing: border-box;
}

header {
  background: url(../images/head.jpg) no-repeat center / cover;
  padding-bottom: 218px;
  box-shadow:0 0 0 310px rgba(0, 0, 0, 0.51) inset;
}

.conteiner {
  width: 1244px;
  margin: 0 auto;
}

.logo {
  margin-top: 20px;
  width: 51px;
  height: 50px;
  float: left;
}

.logo-text {
  width: 216px;
  height: 42px;
  margin-top: 25px;
  margin-left: 28px;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  float: left;

  color: #D8D2D2;
}

.contacts {
  float: right;
  margin-top: 13px;
}

.contacts-nums {
  padding: 0;
  margin: 0;
  display: block;
}

.contacts-nums li {
  display: block;
  text-decoration: none;
  color: #D8D2D2;
}

nav {
  float: none;
  margin-left: 368px;
  margin-right: 243px;
  padding-top: 31px;
}

.menu {
  padding: 0;
  margin: 0;
  display: block;
}

.menu li {
  float: left;
  display: block;
  margin-right: 29px;
}

.menu li a {
  color: #D8D2D2;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.buttom-header {
  display: block;
  float: right;
  margin-top: 15px;
  margin-left: 1109px;
  width: 171px;
  height: 25px;
  padding: 0;
  padding-bottom: 5px;
  border: unset;
  background: rgba(218, 53, 53, 0.85);
  border-radius: 50px;
  padding-top: 5px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;

}

.header-text {
  font-size: 51px;
  line-height: 60px;
  text-align: center;
  margin-top: 230px;

  color: #D8D2D2;
}

.sect1-left {
  float: left;
}

.sect1-title {
  width: 500px;
  height: 143px;

  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #000000;

  margin-left: 31px;
  margin-top: 42px;
}

.sect1-p {
  font-size: 43px;
  line-height: 50px;

  color: #736F6F;

  margin-top: 61px;
  margin-left: 31px;
}

.logo2 {
  width: 423px;
  height: 370px;
  margin-left: 226px;
  margin-top: 61px;
}

.sect1-offers {
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #736F6F;

  float: none;

  margin-left: 422.03px;
  margin-top: 275px;
}

div p {
  margin: 0;
  padding: 0;
  margin-top: 74px;
  margin-left: 38px;
  font-size: 48px;
  line-height: 56px;

  color: #736F6F;
}

.offer-line {
  width: 100%;
  height: 0px;
  border: 3px solid #FF0000;
  margin-top: 13px;
}

.offers-items {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1140px;
  height: 678px;
  align-content: center;
  margin: 0 auto;
}

.item {
  margin: 70px 50px;
  width: 180px;
  height: 208x;
}

.item:first{
  margin-left: 150px;
}

.item img {
  width: 180px;
  height: 180px;
}

.item title {
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  width: 153px;
  height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.offer-call {
  font-size: 14px;
  line-height: 16px;

  color: #000000;

  margin-left: 1050px;
  margin-top: 100px;
  text-decoration: none;
}

.offer-call-line {
  width: 102px;
  height: 0px;
  margin-top: 9px;
  margin-left: 1165px;
  border: 2px solid #FF0000;
  box-sizing: border-box;
}



.reque-line {
  width: 100%;
  height: 0px;
  border: 3px solid #FF0000;
  margin-top: 13px;
}

.reques {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 1074;
  height: 515;
  align-content: center;
  margin: 0 auto;
}

.reque {
  height: 507px;
  width: 230px;
  margin: 50px;
}

.reque img {
  width: 200px;
  height: 200px;
  position: relative;
  left: 22px;
}

.reque-content {
  width: 247px;
  height: 301px;

  background: #D9D9D9;
  border-radius: 27px;
}

.reque-content-2 {
  width: 230px;
  height: 287px;

  background: #F7F3F3;
  border-radius: 20px;
  margin: 0 auto;
  position: relative;
  top: 7px;
}

.reque-content p {
  width: 126px;
  height: 26px;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;

  color: #000000;
}

.FIO-line {
  width: 230px;
  height: 0px;
  border: 2px solid #D9D9D9;
}

.images {
  width: 50px;
  height: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 7px;
}

.images img {
  width: 12px;
  height: 10px;
  float: left;
}

.reque-date {
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #838383;
  width: 48px;
  height: 16px;
  margin-left: 15px;
  float: right;
  margin-right: 17px;
  margin-top: -13px;
}

.reque-text {
  width: 146px;
  height: 96px;

  font-size: 14px;
  line-height: 16px;

  color: #000000;

  margin-left: 20px;
  margin-top: 38px;
}

.back-call {
  width: 100%;
  height: 800px;
  margin-top: 0px;
  background: url(../images/back_call_bg.jpg) no-repeat center / cover;
}

.frame-call {
  width: 788px;
  height: 433px;
  background: #FF6464;
  border-radius: 78px;
  margin-left: 358px;
  position: relative;
  top: 208px;
}

.frame-call p {
  width: 368px;
  height: 51px;
  font-size: 36px;
  line-height: 42px;

  color: #FFFFFF;

  margin: 0 auto;
}

.frame-call-2 {
  width: 752px;
  height: 345px;
  background: #FFFFFF;
  border-radius: 57px;
  margin-left: 18px;

  position: relative;
  top: 20px;
}

.blanks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  height: 180px;
  width: 356px;
  margin-left: 70px;
  position: relative;
  top: 35px;
}

.blanks p {
  width: 252px;
  height: 42px;
  font-size: 36px;
  line-height: 42px;

  color: #736F6F;
  margin-bottom: 15px;
}

.space-to-write {
  background: #FFFFFF;
  border-radius: 12px;
  width: 356px;
  height: 26px;
  border: 3px solid #D2D2D2;
  margin-bottom: 15px;
}

.button-to-call {
  width: 252px;
  height: 58px;
  background: #FF6464;
  border-radius: 213px;
  margin: auto;
  margin-top: 80px;
  margin-left: 250px;
}

.button-to-call p {
  width: 157px;
  height: 42px;
  font-size: 36px;
  line-height: 42px;

  color: #FFFFFF;
}

.info-text {
  width: 1025px;
  height: 230px;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
  margin-left: 30px;
  position: relative;
  top: 20px;
}

.imager-cards {
  width: 500px;
  height: 72px;
  margin-top: 200px;
  margin-left: 50px;
}

.imager-cards img {
  width: 120px;
  height: 72px;
}

.imager-cards img:first {
  width: 120px;
  height: 37px;
}

.imager-cards img:last-child {
  width: 160px;
  height: 44px;
}

.deliv-info {
  width: 100%;
  height: 800px;
}

footer {
  background: #4F4E5B;
  width: 100%;
  height: 216px;
}

.logo-footer {
  float: left;
  width: 82px;
  height: 83px;
  margin-top: 33px;
  margin-left: 27px;
  box-shadow:0 0 0 310px rgba(0, 0, 0, 0.51) inset;
}

.footer-nav {
  float: left;
  display: flex;
  width: 540px;
  height: 180px;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  margin-left: 42px;
  margin-top: 38px;
}

.footer-nav a {
  text-decoration: none;
  font-size: 18px;
  line-height: 15px;
  color: #B2B2B2;
  width: 270px;
  height: 35px;
}

.subs-block {
  float: left;
  width: 230px;
  height: 70px;
}

.subs-block p {
  width: 195px;
  height: 21px;
  font-size: 14px;
  line-height: 21px;
  color: #B2B2B2;
}

.subs-block input {
  width: 221px;
  height: 35px;

  background: #4F4E5B;;
  border-radius: 234px;
  border: 3px solid #E6E5E5;
  margin-top: 6px;
  }

.footer-contacts {
  float: left;
  width: 350px;
  height: 120px;
  margin-left: 25px;
  margin-top: 40px;
}

.footer-contacts p {
  width: 330px;
  height: 18px;
  font-size: 14px;
  line-height: 16px;

  color: #B2B2B2;

  margin: 0;
}
