@charset 'utf-8';
@import "_variables.scss";

body{
  width: 100%;
  height: 100%;
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 100%;
  .top {
    height: 120px;
    position: relative;
    background-color: $main-bg-color;
    .sidebar{
      position: absolute;
      top: 45%;
      float: left;
      width: 24px;
      height: 19px;
      color: $head-foot-bg-color;
      margin-left: 51px;
      hr {
        margin: 0;
        margin-bottom: 6px;
        padding: 0;

      }
      .hr2 {
        width: 18px;
      }
    }
    .logo {
      position: absolute;
      left: 45%;
      top: 40%;
      width: 157px;
      height: 31px;
      font-family: 'Roboto', sans-serif;
      font-size: 30px;
      font-weight: bold;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      .logo__items {
        display: flex;
        align-items: center;
        padding: 0;
        color: $logo-color;
      }
      .logo__S {
        margin-right: 6px;
      }
      .logo__U {
        margin-right: 8px;
      }
      .logo__F {
        margin-right: 4px;
      }
      .logo__I {
        font-style: italic;
        margin-left: 2px;
      }
      .logo__X {
        font-family: 'Lora', serif;
        font-weight: 300;
        margin-left: 4px;
        align-self: center;
        font-size: 34px;
        margin-bottom: 38px;
      }
    }
  }

  .content {
    display: flex;
    .left-part {
    width: 50%;
      img {
      height: 570px;
      }
    }
    .right-part {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: $head-foot-bg-color;
      height: 570px;
      color: $hf-text-color;
      font-family: 'Kanit', sans-serif;
      .content-head {
        margin-top: 107px;
        display: flex;
        justify-content: space-between;
        .content-head-date {
          margin-right: 19.7%;
          margin-left: 7.5%;
          letter-spacing: 7px;
          font-size: 14px;
          color: $hf-text-color;
        }
        .content-head-lifestyle {
          margin-right: 7.5%;
          font-size: 16px;
          text-decoration: underline;
          text-transform: uppercase;
          color: $hf-text-color;
        }
      }
      .content-main {
        margin-left: 7.5%;
        margin-top: 66px;
        display: flex;
        flex-direction: column;
        .content-main-h1 {
          font-size: 28px;
          font-weight: 500;
          text-transform: uppercase;
        }
        .content-main-p {
          margin-top: 29px;
          margin-bottom: 54px;
          font-size: 14px;
          font-weight: 300;
        }
        .content-main-button {
          border: solid 1px $main-bg-color;
          background-color: $head-foot-bg-color;
          color: $main-bg-color;
          width: 188px;
          height: 55px;
        }
      }
    }
  }

  @media screen and (max-width:768px) {
    width: 100%;
    .top {
      height: 65px;
      .logo {
        width: 100%;
        margin-left: -81px;
      }
    }

    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .left-part {
        height: 294px;
        img {
          width: 100%;
          height: 294px;
        }
        width: 100%;
        height: 294px;
      }
      .right-part {
        height: 246px;
        .content-head {
          margin-top: 15px;
        }
        .content-main {
          margin-top: 25px;
          .content-main-h1 {
            font-size: 18px;
          }
          .content-main-p {
            font-size: 12px;
            margin-bottom: 20px;
            margin-top: 20px;
          }
        }
      }
    }
  }
}

.featured {
  width: 100%;
  .sect-logo {
    margin-top: 59px;
    margin-left:10.5%;
    margin-bottom: 30px;
    font-size: 18px;
    color: $main-text-color;
  }
  .featured-content {
    display:flex;
    justify-content: center;
    .main-articles-item1, .main-articles-item2 {
      width: 38.68%;
      img {
        width: 100%;
        height: 368px;
      }
      .main-articles-item-img-info{
        display: flex;
        .main-articles-item-img-info__date {
          margin-top:1.8%;
          margin-right: 26%;
          margin-bottom: 2.4%;
          letter-spacing: 6px;
          font-size: 12px;
          color: $head-foot-bg-color;
          font-family: 'Kanit', sans-serif;
          font-weight: 500;
        }
        a {
          margin-top: 2%;
          text-decoration: underline;
          text-transform: uppercase;
          font-size: 12px;
          color: $head-foot-bg-color;
          font-weight: 500;
        }
      }
      h1 {
        margin-bottom: 21px;
        font-size: 24px;
        color: $main-text-color;
        font-weight: 500;
      }
      p {
        font-size: 18px;
        color: $main-text-color;
        font-weight: 300;
      }
    }
    .main-articles-item1 {
      margin-right: 1.9%;
    }
  }

}

.lifestyle, .interviews, .news {
  .sect-logo {
    font-size: 18px;
    font-weight: 500;
    color: $main-text-color;
    margin-bottom: 31px;
    align-self: flex-start;
    margin-left: 10%;
  }
  display: flex;
  flex-direction: column;
  margin-top: 63px;
  align-items: center;
  width: 100%;
  .articles {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;

    .articles-item1, .articles-item2 {
      margin-right: 1.875%;
    }

    .articles-item1, .articles-item2, .articles-item3 {
      display:flex;
      flex-direction: column;
      align-items: flex-start;
      width:25.209%;
      img {
        width: 100%;
        height: 240px;
      }
      .img-info {
        display: flex;
        width:100%;
        justify-content: space-between;
        .img-info__date {
          margin-right: 12.57%;
          margin-top: 18px;
          letter-spacing: 6px;
          font-size: 12px;
          color: $main-text-color;
          font-weight: 500;
        }
        a {
          margin-top: 18px;
          text-decoration: underline;
          font-size: 12px;
          color: $main-text-color;
          font-weight: 500;
        }
      }
      h1 {
        width:100%;
        height: 27px;
        margin-top: 22px;
        font-size: 18px;
        color: $main-text-color;
        font-weight: 500;
        text-transform: uppercase;
      }
    }

    @media screen and (max-width:768px)  {
      .featured-content {
        margin-left:0px;
        justify-content: flex-start;
        overflow:scroll scroll;
        .articles-item1, .articles-item2, .articles-item3 {

          width:363px;;
          img {
          width: 100%;
          height: 240px;
          }
          .articles-item-img-info {
          display: flex;
          .articles-item-img-info__date {
            margin-right: 181px;
            margin-top: 18px;
            font-size: 12px;
          }
          a {
            margin-top: 18px;
            font-size: 12px;
          }
        }
        h1 {
          margin-top: 22px;
          font-size: 18px;
        }
        }
      }
    }
  }
  .see-all__button {
      margin-top: 63px;
      button {
        font-size: 14px;
        font-weight: 500;
        width: 238px;
        height: 42px;
        background-color: $botton-bg-color;
        color: $main-bg-color;
      }
    }
}

.issue-num__conteiner {
  margin-top: 71px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .issue-num__conteiner__img {
    width: 40%;
    height: 361px;
  }
  .subs-block {
    width: 40%;
    height: 361px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $img-al-color;
    .subs-block__title {
      font-size: 34px;
      font-weight: 500;
      color: $hf-text-color;
      margin-bottom: 21px;
    }
    .subs-block__button {
      button {
        border: solid 1px $main-bg-color;
        background-color: $head-foot-bg-color;
        color: $main-bg-color;
        width: 198px;
        height: 42px;
      }
    }
  }
}

footer {
  margin-top: 100px;
  height: 163px;
  background-color: $img-al-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 82px;
  .logo {
    width: 157px;
    height: 31px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo__items {
      display: flex;
      align-items: center;
      padding: 0;
      color: $hf-text-color;
    }
    .logo__S {
      margin-right: 6px;
    }
    .logo__U {
      margin-right: 8px;
    }
    .logo__F {
      margin-right: 4px;
    }
    .logo__I {
      font-style: italic;
      margin-left: 2px;
    }
    .logo__X {
      font-family: 'Lora', serif;
      font-weight: 300;
      margin-left: 4px;
      align-self: center;
      font-size: 34px;
      margin-bottom: 38px;
    }
  }
  .footer__text {
    color: $hf-text-color;
    font-size: 12px;
    font-weight: 300;
    margin-top: 38px;
  }

}
