<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> <%= htmlWebpackPlugin.options.title %> </title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora|Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width,initial- scale=1">
</head>
<body>
  <header>
    <div class="top">
      <div class="sidebar">
        <hr class="hr1"/>
        <hr class="hr2"/>
        <hr class="hr3"/>
      </div>
      <div class="logo">
        <div class="logo__items">
          <p class="logo__S">s</p>
          <p class="logo__U">u</p>
          <p class="logo__F">f</p>
          <p class="logo__F">f</p>
          <p class="logo__I">i</p>
          <p class="logo__X">x</p>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="left-part"><img src="assets/images/header_logo.png" alt="Philip Martin"></div>
      <div class="right-part">
        <div class="content-head">
          <p class="content-head-date">10/10/2020</p>
          <a href="#" class="content-head-lifestyle">lifestyle</a>
        </div>
        <div class="content-main">
          <h1 class="content-main-h1">At vero eos et accus et</h1>
          <p class="content-main-p">
              odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti <br />
              atque corrupti quos dolores et quas molestias excepturi sint occaecati
          </p>
          <button class="content-main-button">Read more</button>
        </div>

      </div>
    </div>
  </header>
  <main>
    <section class="featured">
      <div class="sect-logo">FEATURED</div>
      <div class="featured-content">
        <div class="main-articles-item1">
          <img src="assets/images/feature_big_frst.png" alt="">
          <div class="main-articles-item-img-info">
            <p class="main-articles-item-img-info__date">10/10/2020</p>
            <a>LIFESTYLE</a>
          </div>
          <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
          <p>
            ut aut reiciendis voluptatibus maiores alias consequatur aut
            perferendis doloribus asperiores repellat.
          </p>
        </div>
        <div class="main-articles-item2">
          <img src="assets/images/feature_big_scnd.png" alt="">
          <div class="main-articles-item-img-info">
            <p class="main-articles-item-img-info__date">10/10/2020</p>
            <a>LIFESTYLE</a>
          </div>
          <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
          <p>
            ut aut reiciendis voluptatibus maiores alias consequatur aut
            perferendis doloribus asperiores repellat.
          </p>
        </div>
      </div>
    </section>
    <section class="lifestyle">
      <div class="articles">
        <div class="articles-item1">
          <img src="assets/images/feature__frst.png" alt="">
          <div class="img-info">
            <p class="img-info__date">10/10/2020</p>
            <a>LIFESTYLE</a>
          </div>
          <h1>At vero eos et accusamus et iusto</h1>
        </div>
        <div class="articles-item2">
          <img src="assets/images/feature__scnd.png" alt="">
            <div class="img-info">
              <p class="img-info__date">10/10/2020</p>
              <a>LIFESTYLE</a>
            </div>
          <h1>At vero eos et</h1>
        </div>
        <div class="articles-item3">
          <img src="assets/images/feature__thrd.png" alt="">
          <div class="img-info">
            <p class="img-info__date">10/10/2020</p>
            <a>LIFESTYLE</a>
          </div>
          <h1>At vero eos et accusamus et iusto</h1>
        </div>
      </div>
      <div class="see-all__button">
        <button>SEE ALL</button>
      </div>
    </section>
    <section class="issue-num">
      <div class="issue-num__conteiner">
        <div class="issue-num__conteiner__img">
          <img src="assets/images/issue_numer.png" alt="">
        </div>
        <div class="subs-block">
          <div class="subs-block__title">ISSUE 22 - MAY 2020</div>
          <div class="subs-block__button">
            <button>SUBSCRIBE NOW</button>
          </div>
        </div>
      </div>
    </section>
    <section class="interviews">
      <div class="sect-logo">INTERVIEWS</div>
      <div class="articles">
        <div class="articles-item1">
          <img src="assets/images/inter__first.png" alt="">
          <div class="img-info">
            <p class="img-info__date">10/10/2020</p>
            <a>INTERVIEWS</a>
          </div>
          <h1>At vero eos et accusamus et iusto</h1>
        </div>
        <div class="articles-item2">
          <img src="assets/images/inter__scnd.png" alt="">
            <div class="img-info">
              <p class="img-info__date">10/10/2020</p>
              <a>INTERVIEWS</a>
            </div>
          <h1>At vero eos et</h1>
        </div>
        <div class="articles-item3">
          <img src="assets/images/inter__thrd.png" alt="">
          <div class="img-info">
            <p class="img-info__date">10/10/2020</p>
            <a>INTERVIEWS</a>
          </div>
          <h1>At vero eos et accusamus et iusto</h1>
        </div>
      </div>
      <div class="see-all__button">
        <button>SEE ALL</button>
      </div>
    </section>
    <section class="news">
      <div class="sect-logo">NEWS</div>
      <div class="articles">
        <div class="articles-item1">
          <img src="assets/images/news__frst.png" alt="">
          <div class="img-info">
            <p class="img-info__date">10/10/2020</p>
            <a>NEWS</a>
          </div>
          <h1>At vero eos et accusamus et iusto</h1>
        </div>
        <div class="articles-item2">
          <img src="assets/images/news__scnd.png" alt="">
            <div class="img-info">
              <p class="img-info__date">10/10/2020</p>
              <a>NEWS</a>
            </div>
          <h1>At vero eos et</h1>
        </div>
        <div class="articles-item3">
          <img src="assets/images/news__thrd.png" alt="">
          <div class="img-info">
            <p class="img-info__date">10/10/2020</p>
            <a>NEWS</a>
          </div>
          <h1>At vero eos et accusamus et iusto</h1>
        </div>
      </div>
      <div class="see-all__button">
        <button>SEE ALL</button>
      </div>
    </section>
  </main>
  <footer>
    <div class="logo footer__logo">
      <div class="logo__items">
        <p class="logo__S">s</p>
        <p class="logo__U">u</p>
        <p class="logo__F">f</p>
        <p class="logo__F">f</p>
        <p class="logo__I">i</p>
        <p class="logo__X">x</p>
      </div>
    </div>
    <div class="footer__text">Designed by Suffix</div>
  </footer>
</body>
</html>
